@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: "Roboto", sans-serif;
    background-color: #e3f6f5
}

html{
    height: 100%;
    width: 100%;
}

header{
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main {
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    display: grid;
    row-gap: 0.5%;
    column-gap: 0.5rem; 
    grid-template-columns: repeat(6, 1fr); 
  }


#Logo{
    grid-column-start: 1;
    grid-column-end: 4; 
}

#Navegacion{
    grid-column-start: 4;
    grid-column-end: 7; 
}

section{  
    margin: 2px 1px 1.5px;
    margin-top: 0.8rem;
    padding: 2% 1.2%;   
}

#Información-personal{
    grid-column-start: 1;
    grid-column-end: 4; 
    grid-row-start: 1;
    grid-row-end: 1;
    background-color: #fffffe;
    display: grid;
    justify-content: center;
}

#Información-personal h2{
    background-color: #fffffe;
    text-align: center;
}

#Información-personal p{
    background-color: #fffffe;
}

#Información-personal span{
    background-color: #fffffe;
}

#Información-personal a{
    background-color: #fffffe;
    padding-top: 10px;
}

#Contacto{
    grid-column-start: 4;
    grid-column-end: 7; 
    grid-row-start: 1;
    grid-row-end: 1;
    background-color: #fffffe;
    
}

#Contacto h2{
    text-align: center;
    background-color: #fffffe;
}

#Contacto p{
    background-color: #fffffe;
}

#Contacto label{
    background-color: #fffffe;
}

#Contacto input{
    background-color: #fffffe;
}
#Contacto form{
    background-color: #fffffe;
}


#Habilidades{
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 2;
}

#Habilidades h2{
    text-align: center;
}

#ListaH{
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    margin-bottom: 2px;
    padding-bottom: 10px;
}



#LP{
    grid-column-start: 1;
    grid-column-end:2;
    border: 3px #272343 solid;
}

#LP li{
    padding-bottom: 10px;
}

#BD{
    grid-column-start: 2;
    grid-column-end:3;
    border: 3px #272343 solid;
    border-radius: 5px;
}

#BD li{
    padding-bottom: 10px;
}

#HD{
    grid-column-start: 3;
    grid-column-end:4;
    border: 3px #272343 solid;
    border-radius: 5px;
}

#HD li{
    padding-bottom: 10px;
}

#OT{
    grid-column-start: 4;
    grid-column-end:5;
    border: 3px #272343 solid;
    border-radius: 5px;
}

#OT li{
    padding-bottom: 10px;
}

#Proyectos-Realizados{
    grid-column-start: 1;
    grid-column-end:7;
    grid-row-start: 3;
    grid-row-end: 3;
    display: grid;
    justify-content: center;
    background-color: #fffffe;
}



#container{
    text-align: center;
    background-color: #fffffe;
    
}

#container * {
    background-color: #fffffe;
}

#final{
    padding-top: 2.5%;
    text-align: center;
    display: grid;
    justify-content: center;
    background-color: #2d334a;
}

#final *{
    color: #fffffe;
    background-color: #2d334a;
}

#formulario{
    display: grid;
    
}

#formulario input{
    padding: 0.5em 2em;
    border-radius: 100px;
}

#formulario button{
    padding: 0.5em 2em;
    border-radius: 100px;
}

h3{
    color: #272343;

}

h2{
    
    color: #272343;

}

h1{

    color: #272343;
}

p{
    color:#2d334a
}

a{
    color: #2d334a;
}

label{
    color:#2d334a
}

span{
    color:#2d334a
}

ul{
    color:#2d334a
}

figcaption{
    color:#2d334a

}

button{
    background-color: #ffd803;
    color: #2d334a;
    font-weight:  bold;
}